body { 
    font-family: 'Orbitron', sans-serif;
}

/* HEADER */

header {
    text-align: center;
    flex-direction: column;
}

header h1 {
    font-size: 5em;
    margin-bottom: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
}
  
.navbar p {
    display: inline-block;
    font-size: 2em;
    color: white;
    background-color: black;
    padding: 0.5% ;
}

img {
 max-height: 100px;
}

/* MAIN */

.vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url(/resources/images/space.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 5%; 
}

.vision p, h1 {
    text-shadow: 2px 2px black;
}


